.number-pages-v1 {
  margin-left: 48px;
  font-size: 15px;
}

.number-pages-v2 {
  margin-left: 43%;
  font-size: 15px;
}

.btn--sort {
  margin-left: 20px;
  width: 15%;
  height: 4%;
  margin-top: 10px;
  border: none;
  background: none;
  cursor: pointer;
  color: rgb(51, 48, 48);
}

.input-ing {
  width: 95px;
}

.more {
  font-family: inherit;
  color: inherit;
  /* position: absolute; */
  /* top: 0.5rem;
  right: 1.6rem; */
  margin-left: 100%;
  font-size: 3.5rem;
  cursor: pointer;
  border: none;
  background: none;
}

.btn_shopping_list {
  position: relative;
  margin-left: auto;

  border-radius: 50%;
  border: none;
  cursor: pointer;
  height: 4.5rem;
  width: 4.5rem;
  transition: all 0.2s;

  display: flex;
  align-items: center;
  justify-content: center;
}

.shopping-list-window {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100rem;
  background-color: white;
  border-radius: 9px;
  padding: 5rem 6rem;
  box-shadow: 0 4rem 6rem rgba(0, 0, 0, 0.25);
  z-index: 1000;
  transition: all 0.5s;
  height: 500px;
}

.btn--close-modal-shopping-list {
  font-family: inherit;
  color: inherit;
  position: absolute;
  top: 0.5rem;
  right: 1.6rem;
  font-size: 3.5rem;
  cursor: pointer;
  border: none;
  background: none;
}

.shopping-list {
  max-height: 400px;
  overflow-y: scroll;
}

.btn-delete-shop-item {
  margin-left: 10%;
  color: white;
  background-color: orange;
  border: none;
  border-radius: 50%;
  font-size: 20px;
  padding: 1%;
  cursor: pointer;
}

.items-title {
  display: flex;
}
